* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #870099;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #ea3b9e,
    #de65c4,
    #ce86e0,
    #bfa1f3,
    #b6b9fd,
    #abc8ff,
    #a7d5ff,
    #ade0ff,
    #a6e8ff,
    #a2f0ff,
    #a2f8fe,
    #a6fff9
  );
}

#main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-image: linear-gradient(
    to bottom,
    #ea3b9e,
    #de65c4,
    #ce86e0,
    #bfa1f3,
    #b6b9fd,
    #abc8ff,
    #a7d5ff,
    #ade0ff,
    #a6e8ff,
    #a2f0ff,
    #a2f8fe,
    #a6fff9
  );

}

#main-header h1 {
  color: rgb(217, 68, 234);
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

section {
  margin: 1rem auto;
  width: 40rem;
  max-width: 90%;
}

section ul {
  padding: 1rem;
  max-height: 20rem;
  overflow: scroll;
  scrollbar-color: purple;
}

section > h2 {
  color: white;
  margin: 0;
}

button {
  font: inherit;
  background: #fb4ff2;
  color: white;
  border: 1px solid #f457f4;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.alt {
  background: white;
  color: #e313ea;
  border-radius: 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #f147cc;
  border-color:  rgb(217, 68, 234);
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background: rgb(250, 243, 243);
}

#active-projects {
  border: 1px solid  #870099;

}

#active-projects > header {
  background: #870099;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#active-projects header h2 {
  color: white;
  margin: 0;
}

#finished-projects {
  border: 1px solid #870099;
}

#finished-projects > header {
  background: #0bd2e8;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#finished-projects header h2 {
  color: rgb(217, 68, 234);
  margin: 0;
}
